{% extends 'base.html' %}
{% block content %}
  <form action="/events" method="post">
    <div class="form-group">
      <label for="organisatorSelect">Организатор</label>
      <select id="organisatorSelect" name="organisator" class="custom-select">
        {% for org in organisators %}
          <option value={{ org.id }}>{{ org.name }}</option>
        {% endfor %}
      </select> 
    </div>
    <div class="form-group">
      <label for="nameInput">Название мероприятия</label>
      <input type="text" class="form-control" name="name" id="nameInput" placeholder="Укажите название" required>
    </div>
    <div class="form-group">
      <label for="themeInput">Тема мероприятия</label>
      <input type="text" class="form-control" name="theme" id="themeInput" placeholder="Укажите тему" required>
    </div>
    <div class="form-group">
      <label for="ticketCost">Стоимость билетов</label>
      <input type="number" class="form-control" name="ticket_cost" id="ticketCost" placeholder="Укажите стоимость билетов" required>
    </div>
    <div class="form-group">
      <label for="ticketQuantity">Количество билетов</label>
      <input type="number" class="form-control" name="tickets_quantity" id="ticketQuantity" placeholder="Укажите количество" required>
    </div>
    <div class="form-group">
      <label for="datepickerStart">Дата начала</label>
      <input type="text" class="form-control" name="date_start" id="datepickerStart" placeholder="Укажите дату" data-target="#datepickerStart" required>
    </div>
    <div class="form-group">
      <label for="datepickerEnd">Дата окончания</label>
      <input type="text" class="form-control" name="date_end" id="datepickerEnd" placeholder="Укажите дату" required>
    </div>
    <div class="form-group">
      <label for="placeSelect">Место проведения</label>
      <select id="placeSelect" name="place" class="custom-select">
        {% for place in places %}
          <option value={{ place.id }}>{{ place.name }} - {{ place.capacity }}</option>
        {% endfor %}
      </select>
    </div>
    <div >

      <button type="submit" class="btn btn-primary">Далее</button>
      <a class="btn btn-danger pull-right" href="/" role="button">Назад</a>
    </div>
    
  </form>
{% endblock %}