{% extends 'base.html' %}
{% block content %}
  <form action="/stages" method="post">

    <div class="form-group">
      <label for="nameInput">Название этапа</label>
      <input type="text" class="form-control" name="name" id="nameInput" placeholder="Укажите название" required>
    </div>
    <div class="form-group">
      <label for="datepickerStart">Дата начала</label>
      <input type="text" class="form-control" name="date" id="datepickerStart" placeholder="Укажите дату" required>
    </div>
    <div class="form-group">
      <label for="timepickerStart">Время начала</label>
      <input type="text" class="form-control" name="time_start" id="timepickerStart" placeholder="Укажите время начала" required>
    </div>
    <div class="form-group">
      <label for="timepickerEnd">Время окончания</label>
      <input type="text" class="form-control" name="time_end" id="timepickerEnd" placeholder="Укажите дату окончания" required>
    </div>
    <div class="form-group">
      <label for="auditorySelect">Аудитория</label>
      <select id="auditorySelect" name="auditory" class="custom-select">
        {% for auditory in auditories %}
          <option value={{ auditory.id }}>{{ auditory.place.name }}-{{auditory.number}}</option>
        {% endfor %} 
      </select>
    </div>
    <div class="form-group">
      <label for="stageTypeSelect">Тип этапа</label>
      <select id="stageTypeSelect" name="stage_type" class="custom-select">
        {% for st in stage_types %}
          <option value={{ st.id }}>{{ st.name }}</option>
        {% endfor %}
      </select> 
    </div>
    <input hidden type="text" name="event" value="{{ event.id }}">
    <div>
      <button type="submit" class="btn btn-primary">Далее</button>
      <a class="btn btn-danger pull-right" href="/events/{{event.id}}" role="button">Назад</a>
    </div>
    
  </form>
{% endblock %}