{% extends 'base.html' %}
{% block content %}
  <form action="/stages" method="post">

    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="text" class="form-control" name="name" id="nameInput" placeholder="Enter name" required>
    </div>
    <div class="form-group">
      <label for="datepickerStart">Date</label>
      <input type="text" class="form-control" name="date" id="datepickerStart" placeholder="Enter date start" required>
    </div>
    <div class="form-group">
      <label for="timepickerStart">Time start</label>
      <input type="text" class="form-control" name="time_start" id="timepickerStart" placeholder="Enter time start" required>
    </div>
    <div class="form-group">
      <label for="timepickerEnd">Time end</label>
      <input type="text" class="form-control" name="time_end" id="timepickerEnd" placeholder="Enter time end" required>
    </div>
    <div class="form-group">
      <label for="auditorySelect">Auditory</label>
      <select id="auditorySelect" name="auditory" class="custom-select">
        {% for auditory in auditories %}
          <option value={{ auditory.id }}>{{ auditory.place.name }}-{{auditory.number}}</option>
        {% endfor %} 
      </select>
    </div>
    <div class="form-group">
      <label for="stageTypeSelect">Stage Type</label>
      <select id="stageTypeSelect" name="stage_type" class="custom-select">
        {% for st in stage_types %}
          <option value={{ st.id }}>{{ st.name }}</option>
        {% endfor %}
      </select> 
    </div>
    <input hidden type="text" name="event" value="{{ event.id }}">
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-danger pull-right" href="/events/{{event.id}}" role="button">Cancel</a>
    </div>
    
  </form>
{% endblock %}