{% extends 'base.html' %}
{% block content %}
<div class="list-header">
  <a class="btn btn-primary mb-2" href="/create_event" role="button">Create event</a>
</div>
  <div class="list-group">
  {% for event in events %}
      <div class="list-group-item list-group-item-action">

        <div class="d-flex w-100 justify-content-between">
          <a href="/events/{{ event.id }}"><h5>{{ event.name }}</h5></a>
          <p>{{ event.organisator.name }} - {{ event.place.name }}</p>
          <button data-id="{{event.id}}" class="btn btn-delete btn-danger">X</button>
        </div>
        <p class="mb-1">Theme: {{ event.theme }}</p>
        <p class="mb-1">Date start: {{ event.date_start.date() }}</p>
        <p class="mb-1">Date end: {{ event.date_end.date() }}</p>
      </a>
    </div>
  {% endfor %}
  </div>
{% endblock %}