{% extends "base.html"%}
{% block content %}
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    <form action='/create_customer' method="post" class='mt-5 mx-auto w-50'>
    <div class="form-group">
        <label for="exampleInputINN">ИНН</label>
        <input type="number" class="form-control" id="exampleInputINN" aria-describedby="innHelp" name="inn" required>
    </div>
    <div class="form-group">
        <label for="exampleInputName">Имя пользователя</label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" name="name" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPhoneNumber">Номер телефона</label>
        <input type="number" class="form-control" id="exampleInputPhoneNumber" aria-describedby="phoneNumberHelp" name="phone_number">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail">Email адрес</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Пароль</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Далее</button>
    </form>

{% endblock  %}
